* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
}

button {
  
    
    margin: 20px;
}

img {
    max-height: 20%;
    max-width: 20%;

}

body {
    background-color: #dddddd;
    color: #000000;
    margin: 0;
    padding: 0px;
}

header {
    flex-direction: row;
    margin: 0px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(63, 63, 63);
    color: white;
}

h1 
{

    padding: 0px;
    margin:  5px;
}

#game_holder {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin: 20px;
}

#picture_holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin: 20px;
}